#about{
  background-color: #ebebeb;
}

section#stats{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#stats .icon-part i{
  font-size: 5.8rem;
  color: #dbbfd0;
}

#stats .stat-title{
  padding-top: 2rem;
}

#services{
  padding-top: 6rem;
  padding-bottom: 6rem;
}

header .logo a {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  width: 92px;
  height: 15px;
  background: url("../images/MENU-leni.png") no-repeat center;
      background-size: auto;
  background-size: 92px 15px;
}

#send-email{
  color: #cc005f;
  width: 100%;
  margin-top: 15px;
  background-color: white;
}